<div id="login_page" data-role="page">
<div data-role="header" data-position="inline"><h1><img src="{{ STATIC_URL }}logo_inline.png"/><br>CabFriendly</h1></div>
<div data-role="content">
  <h2>Welcome to CabFriendly!</h2>
  <p>With CabFriendly, you can save cash, help the environment, and meet new
  people simply by sharing a taxi ride accross town. You can even plan ahead and schedule
  rides for later.  Your ride's path will be
  matched against our database to connect you with others nearby who are looking
  for a similar ride. All you have to do is meet up and share the fare!</p>
  <p>Log in below with Facebook to start.</p>
  <a href="/facebook/login/" rel="external">
    <img src="/static/facebook-login-button.png" /></a>
</div>
<link rel="stylesheet" href="{{ STATIC_URL }}add2home.css">
<script type="application/javascript" src="{{ STATIC_URL }}add2home.js"></script>
</div>